@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");

:root {
  --teal: #39c5bb;
  --black: #1b1b1b;
  --white: #f3f8fa;
}
/* general codes */
* {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  transition: all 0.2s ease-in-out;
}
html {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
}
/* navbar codes */
.navWrapper {
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 5%;
  background-color: var(--black);
}
nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav a {
  color: var(--teal);
  text-decoration: none;
  background-color: var(--black);
  font-size: 20px;
  border: 1px solid var(--teal);
  padding: 10px;
  transform: skew(-20deg);
}
.navWrapper h1 {
  font-size: 30px;
  color: var(--white);
}
nav a:hover {
  background-color: var(--teal);
  color: var(--black);
  transform: skew(-20deg);
  scale: 1.1;
}
/* home page codes */
.homeWrapper {
  height: 95%;
  display: flex;
}
.homeAbout,
.homeSocials,
.homeProjects {
  border: 1px solid red;
  display: flex;
  width: 100%;
  height: 100%;
}
